
body{
    background: #f4f4f4;
    font-family: arial, sans-serif;
    line-height: 1.5em; /*상대크기 em*/

}

/*id - 유일한 요소*/
#container{
    border: 1px #cccccc solid;
    padding: 0 10px 0 10px;
    width: 800px;
    margin: 30px auto;
    overflow: auto;
}

/*class(중복가능)- span:문장안에서 css스타일을 줄때, 자연스럽게 이어짐*/
.highlight{
    color:red;
    font-weight: bold;
    font-size: 30px;
}

.left-side{
    float:left;
    width: 50%;
}

.right-side{
    float:right;
    width:50%
}
